
@{
    ViewBag.Title = "Index";
}

<div class="breadcrumb" >
    <div class="container" style="text-align:center;">

        <h1>HATA</h1>
    </div>
  

</div>

<div class="container hata" style="text-align:center">

    <h2>4 0 4</h2>

    <p>Not Found</p>

    <a href="/" class="btn btn-primary">Anasayfay'a dön</a>

</div>

<style>
    .hata h2{

        font-size:32pt;
        font-weight:900;
    }
    .hata p{
        font-size:18pt;
        font-weight:
    }
</style>
